{
    "plugins": [
        [
            "@babel/plugin-proposal-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]
    ],
    "presets": [
        ["@babel/preset-env",
            {
                "targets": {
                    "chrome": "74",
                    "safari": "12"
                },
                "useBuiltIns": "entry"
            }
        ]
    ]
}
