<!-- ko if: enabled  -->
    <!-- ko if:showUpgrade() -->
    <div id="update" class="alert alert-warning" >
        <!-- ko if: showLBSVersion() -->
        <span data-bind=" icon:'fa-info-circle'"> <strong>LBS Update available!</strong> <span data-bind="text:' (' + remoteVersion() + ')'"></span></span>
        <span class="badge" data-bind="openURL:'https://github.com/Lundalogik/LimeBootstrap/archive/master.zip'">Download 
            
        </span>
        <span class="badge" data-bind="openURL:'http://limebootstrap.lundalogik.com/web/manual/index.html?p=changelog'">Changelog</span>
        <!-- /ko -->
        
        <ul data-bind=" foreach:appUpdates()">
           <li>
           <span data-bind=" icon:'fa-info-circle'"> <strong>App update available:</strong></span> 
           <a href="#" data-bind="text: $data.appName + ' (v' + $data.localVersion + '->v' + remoteVersion + ')' , openURL:'http://limebootstrap.lundalogik.com/web/appstore/index.html#' + $data.appName"></a>
           </li>
        </ul>
       
    </div>
    <!-- /ko -->

    <ul id="debugConsole" class="menu expandable collapsed" >
        <li class="menu-header alert alert-danger">Debug
        <span class="badge pull-right" data-bind="icon:'fa-refresh'" onclick="location.reload(true)"> </span>
        </li>

        <li id="console">
            <ul data-bind="foreach: logItems">
                <li data-bind="attr: { class: liclass }">
                    <i data-bind="attr: { class: icon }"> </i> <span data-bind="html: text"></span>
                </li>
            </ul>
        </li>
    </ul>   
<!-- /ko -->