<div id="watchContainer" >
	<div id="watch-top">
		<p>Press <b>ESC</b> to close this window</p>


		<div style="margin-bottom: 5px;">
			<div class="btn-group btn-group.btn-group-justified">
			 <!-- ko foreach: states -->
			 	<button type="button" class="btn btn-default btn-sm" data-bind="text: $data, click:$parent.selectState, css: {'btn-success': $parent.selectedState() == $data}"></button>
			 <!-- /ko -->
			 </div>
		</div>
		<div data-bind="visible: selectedState() == 'WATCH'">
			<div>
				<div class="btn-group btn-group.btn-group-justified">
				 <!-- ko foreach: vms -->
				 	<button type="button" class="btn btn-default btn-sm" data-bind="text: name, click:$parent.selectVm, css: {'btn-success': $parent.selectedVm().name == name}"></button>
				 <!-- /ko -->
				 </div>
			</div>               
                
		</div>       
	</div>

	<div id="watch-bot">
		<div data-bind="visible: selectedState() == 'WATCH'">
			<div id="watch">
				
				<pre data-bind="visible: !watchSelected()"><code id="vmData" data-bind="text: prettyVm()"></code></pre>
				<pre data-bind="visible: watchSelected()"><textarea id="vmDataText" data-bind="text: prettyVm()" readonly></textarea></pre>
				
			</div>        
		</div>

	    <div id="searchBar" data-bind="visible: selectedState() == 'WATCH'">        
	        <div id="searchGroup" class="input-group input-group-sm">    
	        	<button type="button" class="btn btn-default pull-left btn-toggle-watch" data-bind="click: copyWatch, visible: watchSelected()">Copy watch to clipboard</button>        
	            <input id="searchValue" type="text" class="form-control" placeholder="Search" data-bind="value: searchValue, valueUpdate:'afterkeydown',visible: !watchSelected()">
	            <button type="button" class="btn btn-default btn-sm" id="buttonNext" data-bind="text: 'Show',click: goToNext,visible: counter() > 0 && !watchSelected()"> </button>            
	            <span id="searchHits" data-bind="text: 'Hit: '+order() + ' of: ' + counter(), visible: counter() > 0  && !watchSelected()"> </span>
	            
			  	<button type="button" class="btn btn-default pull-right btn-toggle-watch" data-bind="click: select, visible: !watchSelected()">Toggle select mode on</button>
				<button type="button" class="btn btn-success pull-right btn-toggle-watch" data-bind="click: deSelect, visible: watchSelected()">Toggle select mode off</button>
	        </div>        
	    </div>


		<div data-bind="visible: selectedState() == 'LOG'">
	        <ul class="console" data-bind="foreach: logItems">
			    <li data-bind="attr: { class: liclass }">
			        <i data-bind="attr: { class: icon }"> </i> <span data-bind="html: text"></span>
			    </li>
			</ul>
			<!--<div class="btn-group" data-bind="foreach:logStatus">
				<button type="button" class="btn btn-default btn-sm" data-bind="click: $parent.selectedLogStatus, text:$data" ></button>			
			</div>		
			<div style="margin-top:13px;" data-bind="visible: logView() == 'SHOW ALL'">
				<ul class="console" data-bind="foreach: logItems">						    
	                <li data-bind="attr: { class: liclass }">
				        <i data-bind="attr: { class: icon }"> </i> <span data-bind="html: text"></span>
				    </li>                
				</ul>
			</div>
			<div style="margin-top:13px;" data-bind="visible: logView() != 'SHOW ALL'">	
				<ul class="console" data-bind="foreach: logItems">                
	                <li data-bind="attr: { class: liclass }, visible: level == $parent.logView()">
				        <i data-bind="attr: { class: icon }"> </i> <span data-bind="html: text"></span>
				    </li>                
				</ul>
			</div>-->
		</div>



		<div data-bind="visible: selectedState() == 'DOM'">
			<div id="dom">
				<pre ><code data-bind="text: dom "></code></pre>
			</div>
		</div>
	</div>
</div>