@import '../../css/variables';

@mixin lime-color($color, $text-color) {

    > div.panel-heading {
        background-color: $color;
        border: 1px solid darken($color, 3%);
        color: $text-color;
        background-image: none;

        // &:hover,
        // &:focus,
        // &:active {
        //     background-color: darken($color, 10%);
        //     outline: none !important;
        // }
    }

    > div.panel-body {
        border: 1px solid darken($color, 3%);
        background-color: white;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}



.lbs-expansion-panel{

    &:not(.expanded) div.panel-body {
        display: none;
        animation-name: fadeOut;
        animation-duration: 0.3s;
    }

    &.expanded div.panel-body {
        display: block;
        animation-name: fadeIn;
        animation-duration: 0.3s;
    }

    &.blue {
        @include lime-color($blue, #FFF);
    }

    &.yellow {
        @include lime-color($yellow, #FFF);
    }

    &.green {
        @include lime-color($green, #FFF);
    }

    &.lime-green {
        @include lime-color($lime-green, #FFF);
    }

    &.orange {
        @include lime-color($orange, #FFF);
    }

    &.dark-grey,
    .darkgrey {
        @include lime-color($dark-grey, #FFF);
    }

    &.white {
        @include lime-color($white, #333);
    }

    &.purple {
        @include lime-color($purple, #FFF);
    }

    &.red {
        @include lime-color($red, #FFF);
    }

    &.turquoise {
        @include lime-color($turquoise, #FFF);
    }

    &.citrus {
        @include lime-color($citrus, #FFF);
    }

    &.clean-green {
        @include lime-color($clean-green, #FFF);
    }

    &.deep-red {
        @include lime-color($deep-red, #FFF);
    }

    &.light-grey {
        @include lime-color($light-grey, #FFF);
    }

    &.purple-rain {
        @include lime-color($purple-rain, #FFF);
    }

    &.magenta {
        @include lime-color($magenta, #FFF);
    }
}