@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.input-clear {
    position: absolute;
    right: 24px;
    z-index: 2;
    top: 8px;
}

.input-clear:hover {
    color: #787878
}

ul.search-hits {
    z-index: 5;
    position: absolute;
    left: 14px;
    right: 14px;

    border: 1px solid #ddd;
    border-radius: 4px;
    width: auto;
    background-color: white;

    > li {
        cursor: default;
        list-style: none;
        font-size: 14px;
        overflow: hidden;
        padding-left: 12px;
        padding-right: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            background-color: #EEEEEE;
            background-image: none;
        }
    }
}
