<div class="input-group">
    <span class="input-group-addon">
        <lbs-icon params="icon: icon"></lbs-icon>
    </span>
    <input class="form-control" data-bind="textInput: filter, click: () => showList(true), attr: { placeholder: placeholder }" />
</div>
<!-- ko if: clear -->
<lbs-icon data-bind="click: clear" class="input-clear" params="icon: 'fa-close'"></lbs-icon>
<!-- /ko -->
<!-- ko if: showList() -->
    <ul class="search-hits">
    <!-- ko template: { nodes: $componentTemplateNodes, data: $parent } --><!-- /ko -->
    </ul>
<!-- /ko -->

