/*******************
STANDARDIZED ITEMS
*******************/

html {
    height: 100%;
    width: 100%;
    padding:0 !important;
    margin:0 !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    height: 100%;
}

body {
    padding: 0 !important;
    margin:0 !important;
    height: inherit !important;
    overflow: hidden;
    background-color: #E0EEFF;
    color: #6985B7;
    font-size: 13px;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
/*
a {
    color: white;
}*/

/* a:hover {
        text-decoration: none;
        color: white;
        cursor: default;
 }*/

ul {
    padding: 0;
    margin: 0;
}

i {
    padding-right: 5px;
}
#content {
    height:100%;

}

/********
Added CSS for menu**
********/

.menu {

margin: 10px -10px 0 -10px;
padding-top: 10px;
padding-left: 0;
padding-right: 0;
padding-bottom: 10px;
}
 

.menu .menu-header {
  margin-left: -5px;
  margin-right: -5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.menu [class^="icon-"],
.menu [class*=" icon-"] {
  margin-right: 2px;
}
 
.menu .divider {
  *width: 100%;
  height: 1px;
  margin: ((1.428571429 / 2) - 1) 1px; // 8px 1px
  *margin: -5px 0 5px;
  overflow: hidden;
      margin: 0 15px 0 10px;
    background-color: #D2E4FF;
    margin-bottom: 3px;

}

// Space them out when they follow another list item (link)
.menu li + .menu-header {
  margin-top: 9px;
}


.menu > li {
    padding-left: 10px;
    cursor: default;
}

/*.menu-header {
  display: block;
  padding: 3px 15px 3px 25px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.428571429;
  color: #999;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  text-transform: uppercase;
}*/

.menu-header {
    text-transform: none;
    color: #425899;
    font-weight: lighter;
    padding: 3px 15px 0 3px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    margin-left: 0 !important;
}

.menu > li:not(.menu-header):not(.divider) {
    color: #6985B7;
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu > li:not(.menu-header):not(.divider):hover {
    background-color: #E0EEFF;
}


/********
BUTTONS**
********/

.btn-lime {
   background-image:none;
    background-color:inherit;
    box-shadow:none;
    color: inherit;
    font-size: 13px;
    font-weight: lighter;
    border:1px solid #CCE0FF;
    padding-left:5px;
}

.btn-lime:hover{
    color: #6985B7;
    background-image:none;
    background-color:#CCE0FF;
    border: 1px solid #81A9E1;
}

.btn-lime:focus,
.btn-lime:active,
.btn-lime.active,
.open .dropdown-toggle.btn-lime {
   color: #8fa6cf;
    background-image:none;
    background-color:#ADD1FF;
    border: 1px solid #81A9E1;
}

.btn-lime:active,
.btn-lime.active,
.open .dropdown-toggle.btn-lime {
    color: #8fa6cf;
    background-image:none;
    background-color:#ADD1FF;
    border: 1px solid #81A9E1;
}

.btn-lime.disabled,
.btn-lime[disabled],
fieldset[disabled] .btn-warning,
.btn-lime.disabled:hover,
.btn-lime[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-lime.disabled:focus,
.btn-lime[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-lime.disabled:active,
.btn-lime[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-lime.disabled.active,
.btn-lime[disabled].active,
fieldset[disabled] .btn-lime.active {
  background-color: #81A9E1;
  border: #CCE0FF;
}

.btn-group.open .btn.dropdown-toggle {
    background-image:none;
    background-color:#ADD1FF;
    border: 1px solid #81A9E1;
    color: #8fa6cf;
}

.dropdown-menu {
    margin: 0px 0 0 0px;
    width: 120%;
    min-width:60%;
}

.dropdown-menu li {
    padding-left: 10px;
    cursor: default;
    font-size: 12px;
}

.dropdown-menu .divider {
  margin:3px 1px
}

.dropdown-menu li:hover {
    background-image: none;
    background-color: #EEEEEE;
}

/*******************
COLORS
*******************/
.blue {
    background-color: #2693FF;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#B2B4BD')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#B2B4BD');
    border-bottom: 1px solid #2469C3;
}

.header-container.blue:before {
    border-color: #124985 transparent transparent transparent;
}

.header-container.blue ul.info-links li:hover {
    background-color: #51A9FF;
}

.yellow {
    background-color: #D39D09;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#D39D09')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#D39D09');
    border-bottom: 1px solid #B98B08;
}

.header-container.yellow:before {
    border-color: #5D4D00 transparent transparent transparent;
}

.header-container.yellow ul.info-links li:hover {
    background-color: #B98B08;
}

.green {
    background-color: #83BA1F;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#83BA1F')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#83BA1F');
    border-bottom: 1px solid #76A51C;
}

.header-container.green:before {
    border-color: #4B6712 transparent transparent transparent;
}

.header-container.green ul.info-links li:hover {
    background-color: #76A51C;
}

.orange {
    background-color: #E56C19;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#E56C19')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#E56C19');
    border-bottom: 1px solid #B95815;
}

.header-container.orange:before {
    border-color: #813E0F transparent transparent transparent;
}

.header-container.orange ul.info-links li:hover {
    background-color: #B95815;
}

.darkgrey {
    background-color: #464646;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#464646')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#464646');
    border-bottom: 1px solid #1E1E1E;
}

.header-container.darkgrey:before {
    border-color: #1E1E1E transparent transparent transparent;
}

.header-container.darkgrey ul.info-links li:hover {
    background-color: #1E1E1E;
}

.white {
    background-color: #FFFFFF;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#FFFFFF')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#FFFFFF');
    border-bottom: 1px solid #7E7E7E;
}

.header-container.white:before {
    border-color: #7E7E7E transparent transparent transparent;
}

.header-container.white ul.info-links li:hover {
    background-color: #7E7E7E;
}


.purple {
    background-color: #981BB6;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#981BB6')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#981BB6');
    border-bottom: 1px solid #791790;
}

.header-container.purple:before {
    border-color: #360A40 transparent transparent transparent;
}

.header-container.purple ul.info-links li:hover {
    background-color: #791790;
}

.red {
    background-color: #BF3B26;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#BF3B26')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#BF3B26');
    border-bottom: 1px solid #A73624;
}

.header-container.red:before {
    border-color: #5F1F15 transparent transparent transparent;
}

.header-container.red ul.info-links li:hover {
    background-color: #A73624;
}

/*******************
HEADER
*******************/
.header-container {
    position: relative;
    box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.4);
    z-index: 10;
    padding: 30px 0 15px 0;
    cursor:default;
    margin: -10px -20px 10px -10px;
    /*border-bottom: 1px solid #2469C3*/
}

.header-container:before {
    content: " ";
    background-color: #E0EEFF;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    position: absolute;
    bottom: -10px;
    right: 0;
}

.header-container .header-icon-container {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 64px;
    background: no-repeat 50% top;
}
/*******************************/
/**USED TO SET HEADER PICTURES**/
/*******************************/

.header-container #header-icon {
    height: 70px;
    font-size: 65px;
}

.header-container ul.info-links li:hover {
    cursor: default;
}

.header-container ul.info-links {
    text-decoration: none;
}

.header-container h2 {
    font-size: 18px;
    letter-spacing: -3;
    margin: 0 0 5px 10px;
    padding: 0 0 0 0px;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-container ul.info-links {
    list-style: none;
    padding: 0;
}

.header-container ul.info-links > li {
    width: 50%;
    list-style-position: inside;
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*******************
CONTENT
*******************/
#wrapper{
    height: 100%;
}

.content-container {
    position: relative;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 10px;
    background-color: #F1F6FF;
    height: 100%;
    margin-right: 10px;
    box-shadow: 1px 0 2px #BEC8D5;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#BEC8D5')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#BEC8D5');
}


.content-container-tab {
    padding: 0px;
    margin: 0px;
    background-color: #F1F6FF;
    box-shadow: 0px;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#BEC8D5')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#BEC8D5');
}

.content-container-inline {
    position: relative;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 10px;
    background-color: #F1F6FF;
    height: 100%;
    margin-right: 10px;
    box-shadow: 0px;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#BEC8D5')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#BEC8D5');
}


#content{
    margin-left: 10px;

}

.alert{
    margin: 10px -10px 10px -20px;
    border-radius: 0;
}

/*******************
SKIN
*******************/

.britney{
    background-color: #FCECFF;
}

.britney >.content-container{
    background-color: #FDF6FF;
    color:#645082;
}
.britney .content-container .menu li{
    color:#645082 ; 
}

.britney .content-container .menu .divider{
    background-color:#E3CEFC ; 
}

.britney .content-container .menu li:not(.menu-header):not(.divider):hover{
    background-color:#E3CEFC ; 
}


.silver{
    background-color: #E8EAED;
}

.silver >.content-container{
    background-color: #F4F4F4;
    color:#545B68;
}
.silver .content-container .menu li{
    color:#545B68 ; 
}

.silver .content-container .menu .divider{
    background-color:#D8D8D8 ; 
}

.silver .content-container .menu li:not(.menu-header):not(.divider):hover{
    background-color:#D8D8D8 ; 
}


/*******************
Debug
*******************/
#debugConsole {
    padding:0px;
    margin: 0 0 0 0;
}
#debugConsole .menu-header {
    list-style:none;
    background-color:#FF0000;
    color:#FFF;

}
#debugConsole .badge{
    background-color: transparent;
    cursor: pointer;
}

#console {
     padding-left:5px;
     margin-left:0px;
    background-color:#000;
}

#console li  {
    background-color:#000;
    
}
#console p  {
    padding-left:15px;
    margin-bottom:0;
    
}
/*******************
APP AREA
*******************/
.app-area {
    color: #FFF;
    background-image: -ms-linear-gradient(left, #A8A8A8 0%, #A8A8A8 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #A8A8A8;
    margin-right: 10px;
}

.carousel {
    margin-left: 8px;
    width: 90%;
    white-space: normal;
}

.carousel h3 {
    white-space: nowrap;
}


/*******************
INFO
*******************/
.alert {
     white-space:normal;
}


.info {
    
    position:fixed;
    bottom:0;
    margin:0;
    margin-bottom: 0px !important;
}

    .info p {
   
    }


    
.info i {
   
   font-size:30px;
   margin-right:5px;
   float:left;
}




