/*******************
STANDARDIZED ITEMS
*******************/

html {
    cursor: default;
    height: 100%;
    height: 100%;
    margin:0 !important;
    padding:0 !important;
    width: 100%;
}

html.notouch{
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: #E0EEFF;
    color: #6985B7;
    font-size: 13px;
    font-weight: lighter;
    height: inherit !important;
    margin:0 !important;
    overflow: hidden;
    padding: 0 !important;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul {
    padding: 0;
    margin: 0;
}

i {
    margin-right: 5px;
}
#content {
    height:100%;
}

/********
Added CSS for menu**
********/

.menu {
    margin: 10px -10px 0 -10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
}
 
.menu .menu-header {
    margin-left: -5px;
    margin-right: -5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.menu [class^="icon-"],
.menu [class*=" icon-"] {
    margin-right: 2px;
}
 
.menu .divider {
    background-color: #D2E4FF;
    height: 1px;
    margin-bottom: 3px;
    margin: 0 15px 0 10px;
    overflow: hidden;
}

.menu li + .menu-header {
    margin-top: 9px;
}


.menu > li {
    padding-left: 10px;
    cursor: default;
}

.menu-header {
    color: #425899;
    cursor: default;
    font-size: 14px;
    font-weight: lighter;
    margin-left: 0 !important;
    overflow: hidden;
    padding: 3px 15px 0 3px;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
}

.menu > li:not(.menu-header):not(.divider) {
    color: #6985B7;
    font-size: 12px;
    font-weight: lighter;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu > li:not(.menu-header):not(.divider):hover {
    background-color: #E0EEFF;
}


/********
BUTTONS**
********/
.btn-lime{
    cursor: default;
    display: block;
    font-size: 13px;
    font-weight: lighter;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; 
}

.btn:focus{
    outline:none!important;
}

.btn-group>.btn-lime,
.btn-lime-split>.btn{
    float: none;
}

.btn-group-lime{
    display: block;
    font-size: 13px;
    font-weight: lighter;
    margin-top: 5px;
    position: relative;
    width: 100%;
}

.btn-lime-split > .btn:first-child{
    box-sizing: border-box;
    width:80%;
}

.btn-lime-split > .btn:nth-child(2){
    box-sizing: border-box;
    width:20%;
}

.dropdown-menu {
    border-top-left-radius:none;
    border-top-right-radius: none;
    box-shadow: none;
    margin-top: -1px;
    min-width:60%;
    position: absolute;
    top: 100%;
    width: 100%;
}

.dropdown-menu li {
    cursor: default;
    font-size: 12px;
    overflow: hidden;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    white-space: nowrap;
}

.dropdown-menu .divider {
  margin:3px 1px
}

.dropdown-menu li:hover {
    background-color: #EEEEEE;
    background-image: none;
}

/*******************
COLORS
*******************/
.blue {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#B2B4BD')";
    /* For IE 5.5 - 7 */
    background-color: #2693FF;
    border-bottom: 1px solid #2469C3;
    color: white;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#B2B4BD');
}

.header-container.blue:before {
    border-color: #124985 transparent transparent transparent;
}

.header-container.blue ul.info-links li:hover {
    background-color: #51A9FF;
}

.yellow {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#D39D09')";
    /* For IE 5.5 - 7 */
    background-color: #D39D09;
    border-bottom: 1px solid #B98B08;
    color: white;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#D39D09');
}

.header-container.yellow:before {
    border-color: #5D4D00 transparent transparent transparent;
}

.header-container.yellow ul.info-links li:hover {
    background-color: #B98B08;
}

.green {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#83BA1F')";
    /* For IE 5.5 - 7 */
    background-color: #5ab900;
    border-bottom: 1px solid #3a9900;
    color: white;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#83BA1F');
}

.header-container.green:before {
    border-color: #2a7900 transparent transparent transparent;
}

.header-container.green ul.info-links li:hover {
    background-color: #3a9900;
}

.lime-green {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#83BA1F')";
    /* For IE 5.5 - 7 */
    /*background-color: #83BA1F;*/
    background-color: #a0d700;
    border-bottom: 1px solid #90b700;
    color: white;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#83BA1F');
}

.header-container.lime-green:before {
    border-color: #709700 transparent transparent transparent;
}

.header-container.lime-green ul.info-links li:hover {
    background-color: #90b700;
}

.orange {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#E56C19')";
    /* For IE 5.5 - 7 */
    background-color: #ff692e;
    border-bottom: 1px solid #df592e;
    color: white;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#E56C19');
}

.header-container.orange:before {
    border-color: #9f491e transparent transparent transparent;
}

.header-container.orange ul.info-links li:hover {
    background-color: #df592e;
}

.dark-grey, .darkgrey {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#464646')";
    /* For IE 5.5 - 7 */
    background-color: #464646;
    border-bottom: 1px solid #1E1E1E;
    color: white;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#464646');
}

.header-container.darkgrey:before {
    border-color: #1E1E1E transparent transparent transparent;
}

.header-container.darkgrey ul.info-links li:hover {
    background-color: #1E1E1E;
}

.header-container.dark-grey:before {
    border-color: #1E1E1E transparent transparent transparent;
}

.header-container.dark-grey ul.info-links li:hover {
    background-color: #1E1E1E;
}

.white {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#FFFFFF')";
    /* For IE 5.5 - 7 */
    background-color: #FFFFFF;
    border-bottom: 1px solid #7E7E7E;
    color: white;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#FFFFFF');
}

.header-container.white:before {
    border-color: #7E7E7E transparent transparent transparent;
}

.header-container.white ul.info-links li:hover {
    background-color: #7E7E7E;
}

.purple {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#981BB6')";
    /* For IE 5.5 - 7 */
    background-color: #981BB6;
    border-bottom: 1px solid #791790;
    color: white;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#981BB6');
}

.header-container.purple:before {
    border-color: #360A40 transparent transparent transparent;
}

.header-container.purple ul.info-links li:hover {
    background-color: #791790;
}

.red {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#BF3B26')";
    /* For IE 5.5 - 7 */
    background-color: #BF3B26;
    border-bottom: 1px solid #A73624;
    color: white;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#BF3B26');
}

.header-container.red:before {
    border-color: #5F1F15 transparent transparent transparent;
}

.header-container.red ul.info-links li:hover {
    background-color: #A73624;
}

/****

NEW COLOURS
  - Turquoise
  - Citrus
  - Clean Green
  - Deep Red
  - Light Grey
  - Purple Rain
  - Magenta

****/
.turquoise {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='@turquoise')";
  /* For IE 5.5 - 7 */
  background-color: #00c8aa;
  border-bottom: 1px solid #00b4b0;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='@turquoise');
}
.header-container.turquoise:before {
  border-color: #00889a transparent transparent transparent;
}
.header-container.turquoise ul.info-links li:hover {
  background-color: #00b4b0;
}
.citrus {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='@citrus')";
  /* For IE 5.5 - 7 */
  background-color: #c2b800;
  border-bottom: 1px solid #B2A800;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='@citrus');
}
.header-container.citrus:before {
  border-color: #635E00 transparent transparent transparent;
}
.header-container.citrus ul.info-links li:hover {
  background-color: #D4C800;
}
.clean-green {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='@clean-green')";
  /* For IE 5.5 - 7 */
  background-color: #00b05b;
  border-bottom: 1px solid #00A04B;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='@clean-green');
}
.header-container.clean-green:before {
  border-color: #006333 transparent transparent transparent;
}
.header-container.clean-green ul.info-links li:hover {
  background-color: #00C16B;
}
.deep-red {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='@deep-red')";
  /* For IE 5.5 - 7 */
  background-color: #c81c1c;
  border-bottom: 1px solid #B81313;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='@deep-red');
}
.header-container.deep-red:before {
  border-color: #540C0C transparent transparent transparent;
}
.header-container.deep-red ul.info-links li:hover {
  background-color: #D82C2C;
}
.light-grey {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='@light-grey')";
  /* For IE 5.5 - 7 */
  background-color: #8b8b8b;
  border-bottom: 1px solid #7B7B7B;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='@light-grey');
}
.header-container.light-grey:before {
  border-color: #404040 transparent transparent transparent;
}
.header-container.light-grey ul.info-links li:hover {
  background-color: #9B9B9B;
}
.purple-rain {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='@purple-rain')";
  /* For IE 5.5 - 7 */
  background-color: #5a3098;
  border-bottom: 1px solid #4A2088;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='@purple-rain');
}
.header-container.purple-rain:before {
  border-color: #3C2166 transparent transparent transparent;
}
.header-container.purple-rain ul.info-links li:hover {
  background-color: #6A40A8;
}
.magenta {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='@magenta')";
  /* For IE 5.5 - 7 */
  background-color: #FF50AA;
  border-bottom: 1px solid #DF459A;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='@magenta');
}
.header-container.magenta:before {
  border-color: #9F408A transparent transparent transparent;
}
.header-container.magenta ul.info-links li:hover {
  background-color: #DF459A;
}

/*******************
HEADER
*******************/
.header-container {
    box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.4);
    cursor:default;
    margin: -10px -20px 10px -10px;
    padding: 30px 0 15px 0;
    position: relative;
    z-index: 10;
}

.header-container:before {
    background-color: #E0EEFF;
    border-style: solid;
    border-width: 10px 10px 0 0;
    bottom: -10px;
    content: " ";
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
}

.header-icon-invis{
  visibility: hidden;
}


/*******************************/
/**USED TO SET HEADER PICTURES**/
/*******************************/
.header-container .header-icon-container {
    background: no-repeat 50% top;
    font-size: 65px;
    margin-bottom: 10px;
}


.header-container ul.info-links li:hover {
    cursor: default;
}

.header-container ul.info-links {
    text-decoration: none;
}

.header-container h2 {
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: -3;
    margin: 0 0 5px 10px;
    overflow: hidden;
    padding: 0 0 0 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-container ul.info-links {
    list-style: none;
    padding: 0;
}

.header-container ul.info-links > li {
    list-style-position: inside;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}


/*******************
CONTENT
*******************/
#wrapper{
    height: 100%;
}

.content-container {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#BEC8D5')";
    background-color: #F1F6FF;
    box-shadow: 1px 0 2px #BEC8D5;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#BEC8D5');
    height: 100%;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
}


.content-container-tab {

}

.content-container-inline {
    box-shadow: 0px;
    height: 100%;
    width: 100%;
    padding: 5px;
    position: relative;
}


#content{
    margin-left: 10px;

}


.content-container-inline #content{
    margin-left: 0px;
}

.alert{
    margin: 10px -10px 10px -20px;
    border-radius: 0;
}

/*******************
SKIN
*******************/

.britney{
    background-color: #FCECFF;
}

.britney #wrapper > .content-container{
    background-color: #FDF6FF;
    color:#645082;
}
.britney #wrapper .content-container .menu li{
    color:#645082 ; 
}

.britney #wrapper .content-container .menu .divider{
    background-color:#E3CEFC ; 
}

.britney #wrapper .content-container .menu li:not(.menu-header):not(.divider):hover{
    background-color:#E3CEFC ; 
}

.britney .header-container:before{
    background-color: #FCECFF;
}


.silver{
    background-color: #E8EAED;
}

.silver #wrapper > .content-container{
    background-color: #F4F4F4;
    color:#545B68;
}
.silver #wrapper .content-container .menu li{
    color:#545B68 ; 
}

.silver #wrapper .content-container .menu .divider{
    background-color:#D8D8D8 ; 
}

.silver #wrapper .content-container .menu li:not(.menu-header):not(.divider):hover{
    background-color:#D8D8D8 ; 
}

.silver .header-container:before{
    background-color: #E8EAED;
}



/*******************
Debug
*******************/
#debugConsole {
    padding:0;
    margin: 0 0 0 0;
}

#debugConsole .alert, .console .alert{
    padding:0px;
    padding-left: 5px;
    margin: 0 0 0 0;
    background-image: none;
    border:none;
    text-shadow:none;
    box-shadow: none;
}
#debugConsole .header {
    background-color:#FF0000;
    color:#FFF;
    list-style:none;
    font-size: 16px;
    padding: 3px 0px 3px 5px;
}
#debugConsole .badge{
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    margin: 3px 0px 0px 3px;
    padding: 0px;

}

.console{
    background-color:#000;
    /*padding:5px;*/
    margin: 0 0 5px 0;
    width: 860px;
    min-height: 300px;
    padding: 5px 2px 5px 2px;
}
.console li  {
    background-color:#000;  
}

.console p  {
    padding-left:15px;
    margin-bottom:0;
}

#update{
    padding:5px;
    margin:0;
    padding-left: 5px;
}

#update .badge:hover{
    background-color: #6F6F6F;

}

#watch, #dom{
    margin-top: 10px; 
    padding: 5px;
    width: 860px;
}

#watchContainer{
    width:890px; 
    height:790px; 
    padding-top:10px; 
    overflow-y: scroll; 
    overflow-x: hidden;
}

#watchContainer #searchValue {    
    padding-right:0px;
    margin-top:5px;
    width: 300px;
}
#watchContainer #searchGroup {
    width:820px;      
    margin-left:15px;  
} 
#watchContainer #buttonNext {   
   margin-left:5px;
   margin-top: -5px;
}

.btn-toggle-watch{
  margin-top: 2px;
}
#watch-top{
  position: fixed;
  top: 0px;
  left: 0px;
  padding-left:20px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 880px;
  background-color: #E8EAED;
}

#watch-bot{
  margin-top: 100px;
}

#watchContainer #searchBar {
   background-color:#fff;
   border-radius:3px;
   width:850px;
   height: 44px;
   position:fixed; 
   padding-left: 100px; 
   top: 756px; 
   padding: 2px;
   /*margin-left:-10px;*/
   margin-left:5px;
   display:inline;
   border:1px solid #ccc;
   line-height: 44px;
}
#watchContainer .highlight-yellow {
    background-color: yellow;
}
#watchContainer .highlight-grey {
    background-color: #337ab7;
    color:#fff;
}
#watchContainer #searchHits {
    margin-left:10px;    
}

#vmDataText{
  width: 100%;
  height: 630px;
  background-color: #272822;
  color: #F8F8F2;
}

/*******************
APP AREA
*******************/
.app-area {
    background-color: #A8A8A8;
    background-image: -ms-linear-gradient(left, #A8A8A8 0%, #A8A8A8 100%);
    bottom: 0;
    color: #FFF;
    height: 200px;
    margin-right: 10px;
    position: absolute;
    width: 100%;
}

.carousel {
    margin-left: 8px;
    white-space: normal;
    width: 90%;
}

.carousel h3 {
    white-space: nowrap;
}


/*******************
INFO
*******************/
.alert {
     white-space:normal;
}


.info {
    bottom:0;
    margin-bottom: 0px !important;
    margin:0;
    position:fixed;
}
   
.info i {
   float:left;
   font-size:30px;
   margin-right:5px;
}

/*******************
Loader
*******************/

#loadingIndicator{
    font-size: 40px;
    left: 40%;
    position: absolute;
    top: 40%;
}

/*******************
Logo
*******************/

.lime-logo-bottom{
    background: url(../../resources/logo.png) no-repeat center bottom;
    bottom :18px;
    height:120px;
    left:0;
    margin-left:auto;
    margin-right:auto;
    position:   absolute;   
    right:0;
    width:  93px;
}

/*******************
Misc tools
*******************/
.pull-text-left{
    text-align: left;
}

.pull-text-right{
    text-align: right;
}

.pull-text-center{
    text-align: center;
}

/*******************
Popover
*******************/
.message-header {
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
  position: relative;
  margin-left: -15px;
  margin-right: -15.5px;
  margin-top: -15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.popover-content {
  padding-bottom: 15px;
}
/********************
Data carousel
********************/
.lime-carousel {
  white-space: normal;
  min-height: 150px;
  height: auto;
  background-color: #F1F6FF;
  width: 100%;
  margin-left: 0px;
}
.lime-carousel .carousel-indicators {
  margin-top: 10px;
  bottom: 0px;
}
.lime-carousel li.active {
  background-color: #6985b7;
}
.carousel-inner {
  margin: 0px -10px 0px -10px;
  padding-left: 10px;
  position: relative;
  width: auto;
}
.carousel-indicators li {
  border: 1px solid #6985b7;
  cursor: default;
}
.carousel-indicators li:hover {
  background-color: #d6e7ff;
}
a.carousel-control.left,
a.carousel-control.right {
  background-image: none;
  color: #6985b7;
  opacity: 1;
}
.carousel-control {
  bottom: 0;
  height: 35px;
  width: 20px;
  position: absolute;
  top: auto;
  color: #6985b7;
  opacity: 1;
}
.carousel-control :hover {
  color: #d6e7ff;
  opacity: 1;
}