@import '../../css/variables';

@mixin lime-color($color, $text-color) {

    > div.panel-heading {
        background-color: $color;
        border: 1px solid darken($color, 3%);
        color: $text-color;
        background-image: none;
    }

    > div.panel-body {
        border: 1px solid darken($color, 3%);
        background-color: white;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}



.lbs-card{

    &:not(.expanded) > div.panel-body {
        display: none;
        animation-name: fadeOut;
        animation-duration: 0.3s;
    }

    &.expanded > div.panel-body {
        display: block;
        animation-name: fadeIn;
        animation-duration: 0.3s;
    }

    @each $key, $colors in $colors-list {
        &--#{$key} {
            @include lime-color(nth($colors, 1), nth($colors, 2));
        }
    }
}