<div data-bind="css: color" class="header-container">
    <div class="header-icon">
        <img data-bind="attr: {src: img}" />
    </div>
    <h2 data-bind="text: header"></h2>
    <ul class="info-links">
    <!-- ko template: { nodes: $componentTemplateNodes, data: $root } -->
    <!-- /ko -->
    </ul>
    <!-- ko if: menuItems.length > 0 -->
    <lbs-dropdown-menu params="color: color, heroMenu: true, items: menuItems, borderless: true, icon: 'fa-lg fa-ellipsis-v'"></lbs-dropdown-menu>
    <!-- /ko -->
</div>