<div class="dropdown" data-bind="css: position">
    <lbs-button params="color: color, text: title, icon: icon, fullWidth: fullWidth, centered: title === '', borderless: borderless" data-toggle="dropdown">
    </lbs-button>

    <ul class="dropdown-menu" data-bind="css: {'dropdown-menu-right': position ==='top-right'} ">
        <!-- ko template: { nodes: $componentTemplateNodes, data: $component } -->
        <!-- /ko -->

        <!-- ko foreach: listItems -->
        <!-- ko if: type === 'item' -->
        <lbs-list-item params="text: label, icon: icon" data-bind="click: click, vba: vba"></lbs-list-item>
        <!-- /ko -->
        <!-- ko if: type === 'divider' -->
        <lbs-list-divider></lbs-list-divider>
        <!-- /ko -->
        <!-- /ko -->
    </ul>
</div>