#lbs-dowload{
    float: right;
    cursor: pointer;

}

#lbs-dowload a{
    text-transform: uppercase;
}

#lbs-dowload i{
vertical-align: baseline;
}

.md-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}