/*******************
STANDARDIZED ITEMS
*******************/

html {
    cursor: default;
    height: 100%;
    height: 100%;
    margin:0 !important;
    padding:0 !important;
    width: 100%;
}

html.notouch{
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: #E0EEFF;
    color: #6985B7;
    font-size: 13px;
    font-weight: lighter;
    height: inherit !important;
    margin:0 !important;
    overflow: hidden;
    padding: 0 !important;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul {
    padding: 0;
    margin: 0;
}

i {
    margin-right: 5px;
}
#content {
    height:100vh;
}

/********
BUTTONS**
********/

.dropdown-menu {
    border-top-left-radius:none;
    border-top-right-radius: none;
    box-shadow: none;
    margin-top: -1px;
    min-width:60%;
    position: absolute;
    top: 100%;
    width: 100%;
}

.dropdown-menu li {
    cursor: default;
    font-size: 12px;
    overflow: hidden;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    white-space: nowrap;
}

.dropdown-menu .divider {
  margin:3px 1px
}

.dropdown-menu li:hover {
    background-color: #EEEEEE;
    background-image: none;
}



/*******************
CONTENT
*******************/
#wrapper{
    height: 100%;
}

.content-container {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#BEC8D5')";
    background-color: #F1F6FF;
    box-shadow: 1px 0 2px #BEC8D5;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#BEC8D5');
    height: 100%;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
}

.content-container-inline {
    box-shadow: 0px;
    height: 100%;
    width: 100%;
    padding: 5px;
    position: relative;
}


#content{
    margin-left: 10px;

}


.content-container-inline #content{
    margin-left: 0px;
}

.alert{
    margin: 10px -10px 10px -20px;
    border-radius: 0;
}

/*******************
Debug
*******************/

#debugConsole {
    padding:0;
    margin: 0 0 0 0;
}

#debugConsole .alert, .console .alert{
    padding:0px;
    padding-left: 5px;
    margin: 0 0 0 0;
    background-image: none;
    border:none;
    text-shadow:none;
    box-shadow: none;
}
#debugConsole .header {
    background-color:#FF0000;
    color:#FFF;
    list-style:none;
    font-size: 16px;
    padding: 3px 0px 3px 5px;
}
#debugConsole .badge{
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    margin: 3px 0px 0px 3px;
    padding: 0px;

}

.console{
    background-color:#000;
    /*padding:5px;*/
    margin: 0 0 5px 0;
    width: 860px;
    min-height: 300px;
    padding: 5px 2px 5px 2px;
}
.console li  {
    background-color:#000;
}

.console p  {
    padding-left:15px;
    margin-bottom:0;
}

#update{
    padding:5px;
    margin:0;
    padding-left: 5px;
}

#update .badge:hover{
    background-color: #6F6F6F;

}

#watch, #dom{
    margin-top: 10px;
    padding: 5px;
    width: 860px;
}

#watchContainer{
    width:890px;
    height:790px;
    padding-top:10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#watchContainer #searchValue {
    padding-right:0px;
    margin-top:5px;
    width: 300px;
}
#watchContainer #searchGroup {
    width:820px;
    margin-left:15px;
}
#watchContainer #buttonNext {
   margin-left:5px;
   margin-top: -5px;
}

.btn-toggle-watch{
  margin-top: 2px;
}
#watch-top{
  position: fixed;
  top: 0px;
  left: 0px;
  padding-left:20px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 880px;
  background-color: #E8EAED;
}

#watch-bot{
  margin-top: 100px;
}

#watchContainer #searchBar {
   background-color:#fff;
   border-radius:3px;
   position:fixed;
   padding-left: 100px;
   top: 756px;
   padding: 2px;
   /*margin-left:-10px;*/
   margin-left:5px;
   display:inline;
   border:1px solid #ccc;
   line-height: 44px;
}
#watchContainer .highlight-yellow {
    background-color: yellow;
}
#watchContainer .highlight-grey {
    background-color: #337ab7;
    color:#fff;
}
#watchContainer #searchHits {
    margin-left:10px;
}

#vmDataText{
  width: 100%;
  height: 630px;
  background-color: #272822;
  color: #F8F8F2;
}

/*******************
APP AREA
*******************/
.app-area {
    background-color: #A8A8A8;
    background-image: -ms-linear-gradient(left, #A8A8A8 0%, #A8A8A8 100%);
    bottom: 0;
    color: #FFF;
    height: 200px;
    margin-right: 10px;
    position: absolute;
    width: 100%;
}

.carousel {
    margin-left: 8px;
    white-space: normal;
    width: 90%;
}

.carousel h3 {
    white-space: nowrap;
}


/*******************
INFO
*******************/
.alert {
     white-space:normal;
}


.info {
    bottom:0;
    margin-bottom: 0px !important;
    margin:0;
    position:fixed;
}

.info i {
   float:left;
   font-size:30px;
   margin-right:5px;
}

/*******************
Loader
*******************/

#loadingIndicator{
    font-size: 40px;
    left: 40%;
    position: absolute;
    top: 40%;
}

/*******************
Logo
*******************/

.lime-logo-bottom{
    background: url(../../resources/logo.png) no-repeat center bottom;
    bottom :18px;
    height:120px;
    left:0;
    margin-left:auto;
    margin-right:auto;
    position:   absolute;
    right:0;
    width:  93px;
}

/*******************
Misc tools
*******************/
.pull-text-left{
    text-align: left;
}

.pull-text-right{
    text-align: right;
}

.pull-text-center{
    text-align: center;
}

/*******************
Popover
*******************/
.message-header {
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
  position: relative;
  margin-left: -15px;
  margin-right: -15.5px;
  margin-top: -15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.popover-content {
  padding-bottom: 15px;
}
/********************
Data carousel
********************/
.lime-carousel {
  white-space: normal;
  min-height: 150px;
  height: auto;
  background-color: #F1F6FF;
  width: 100%;
  margin-left: 0px;
}
.lime-carousel .carousel-indicators {
  margin-top: 10px;
  bottom: 0px;
}
.lime-carousel li.active {
  background-color: #6985b7;
}
.carousel-inner {
  margin: 0px -10px 0px -10px;
  padding-left: 10px;
  position: relative;
  width: auto;
}
.carousel-indicators li {
  border: 1px solid #6985b7;
  cursor: default;
}
.carousel-indicators li:hover {
  background-color: #d6e7ff;
}
a.carousel-control.left,
a.carousel-control.right {
  background-image: none;
  color: #6985b7;
  opacity: 1;
}
.carousel-control {
  bottom: 0;
  height: 35px;
  width: 20px;
  position: absolute;
  top: auto;
  color: #6985b7;
  opacity: 1;
}
.carousel-control :hover {
  color: #d6e7ff;
  opacity: 1;
}