/********************
Data carousel
********************/
.lime-carousel {
    white-space: normal;
    min-height: 150px;
    height: auto;
    background-color: #F1F6FF;
    width: 100%;
    margin-left: 0px;
  }
  .lime-carousel .carousel-indicators {
    margin-top: 10px;
    bottom: 0px;
  }
  .lime-carousel li.active {
    background-color: #6985b7;
  }
  .carousel-inner {
    margin: 0px -10px 0px -10px;
    padding-left: 10px;
    position: relative;
    width: auto;
  }
  .carousel-indicators li {
    border: 1px solid #6985b7;
    cursor: default;
  }
  .carousel-indicators li:hover {
    background-color: #d6e7ff;
  }
  a.carousel-control.left,
  a.carousel-control.right {
    background-image: none;
    color: #6985b7;
    opacity: 1;
  }
  .carousel-control {
    bottom: 0;
    height: 35px;
    width: 20px;
    position: absolute;
    top: auto;
    color: #6985b7;
    opacity: 1;
  }
  .carousel-control :hover {
    color: #d6e7ff;
    opacity: 1;
  }