/*******************
Debug
*******************/

#Firebug {
    display: none !important;
}

#FirebugIFrame {
    display: none !important;
}

#debugConsole {
    padding:0;
    margin: 0 0 0 0;
}

#debugConsole .alert, .console .alert{
    padding:0px;
    padding-left: 5px;
    margin: 0 0 0 0;
    background-image: none;
    border:none;
    text-shadow:none;
    box-shadow: none;
}
#debugConsole .header {
    background-color:#FF0000;
    color:#FFF;
    list-style:none;
    font-size: 16px;
    padding: 3px 0px 3px 5px;
}
#debugConsole .badge{
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    margin: 3px 0px 0px 3px;
    padding: 0px;

}

.console{
    background-color:#000;
    /*padding:5px;*/
    margin: 0 0 5px 0;
    width: 860px;
    min-height: 300px;
    padding: 5px 2px 5px 2px;
}
.console li  {
    background-color:#000;
}

.console p  {
    padding-left:15px;
    margin-bottom:0;
}

#update{
    padding:5px;
    margin:0;
    padding-left: 5px;
}

#update .badge:hover{
    background-color: #6F6F6F;

}

#watch, #dom{
    margin-top: 10px;
    padding: 5px;
    width: 860px;
}

#watchContainer{
    width:890px;
    height:790px;
    padding-top:10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#watchContainer #searchValue {
    padding-right:0px;
    margin-top:5px;
    width: 300px;
}
#watchContainer #searchGroup {
    width:820px;
    margin-left:15px;
}
#watchContainer #buttonNext {
   margin-left:5px;
   margin-top: -5px;
}

.btn-toggle-watch{
  margin-top: 2px;
}
#watch-top{
  position: fixed;
  top: 0px;
  left: 0px;
  padding-left:20px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 880px;
  background-color: #E8EAED;
}

#watch-bot{
  margin-top: 100px;
}

#watchContainer #searchBar {
   background-color:#fff;
   border-radius:3px;
   position:fixed;
   padding-left: 100px;
   top: 756px;
   padding: 2px;
   /*margin-left:-10px;*/
   margin-left:5px;
   display:inline;
   border:1px solid #ccc;
   line-height: 44px;
}
#watchContainer .highlight-yellow {
    background-color: yellow;
}
#watchContainer .highlight-grey {
    background-color: #337ab7;
    color:#fff;
}
#watchContainer #searchHits {
    margin-left:10px;
}

#vmDataText{
  width: 100%;
  height: 630px;
  background-color: #272822;
  color: #F8F8F2;
}