@import './variables.scss';

body.britney{
    background-color: $britney-inspector-color;

    #wrapper.content-container{
        background-color: $brintney-content-container-color;
        color: $brintney-text-color;
    }
}

body.silver{
    background-color: $silver-inspector-color;

    #wrapper.content-container{
        background-color: $silver-content-container-color;
        color: $silver-text-color;
    }
}

body.blue{
    background-color: $blue-inspector-color;

    #wrapper.content-container{
        background-color: $blue-content-container-color;
        color: $blue-text-color;
    }
}

.lime-crm{

    background-color: $lime-crm-inspector-color;
    color: $lime-crm-text-color;

    #wrapper.content-container{
        background-color: $lime-crm-content-container-color;
        color: $lime-crm-text-color;
    }
}
