$blue: #2693FF;
$yellow: #D39D09;
$green: #5ab900;
$lime-green: #a0d700;
$orange: #ff692e;
$dark-grey: #464646;
$white: #FFFFFF;
$purple: #981BB6;
$red: #BF3B26;

/* New Colors */
$turquoise: #00c8aa;
$citrus: #c2b800;
$clean-green: #00b05b;
$deep-red: #c81c1c;
$light-grey: #8b8b8b;
$purple-rain: #5a3098;
$magenta: #FF50AA;

$colors-list:(
    default: $turquoise,
    blue: $blue,
    yellow: $yellow,
    green: $green,
    lime-green: $lime-green,
    limegreen: $lime-green,
    orange: $orange,
    dark-grey: $dark-grey,
    darkgrey: $dark-grey,
    white: $white,
    purple: $purple,
    red: $red,
    turquoise: $turquoise,
    citrus: $citrus,
    clean-green: $clean-green,
    cleangreen: $clean-green,
    deep-red: $deep-red,
    deepred: $deep-red,
    light-grey: $light-grey,
    lightgrey: $light-grey,
    purple-rain: $purple-rain,
    purplerain: $purple-rain,
    magenta: $magenta
);

$main-text-color: #6985B7;