$blue: #2693FF;
$yellow: #D39D09;
$green: #5ab900;
$lime-green: #a0d700;
$orange: #ff692e;
$dark-grey: #464646;
$white: #FFFFFF;
$purple: #981BB6;
$red: #BF3B26;

/* New Colors */
$turquoise: #00c8aa;
$citrus: #c2b800;
$clean-green: #00b05b;
$deep-red: #c81c1c;
$light-grey: #8b8b8b;
$purple-rain: #5a3098;
$magenta: #FF50AA;

$colors-list:(
    default: ($turquoise,#FFF),
    blue: ($blue,#FFF),
    yellow: ($yellow,#FFF),
    green: ($green,#FFF),
    lime-green: ($lime-green,#FFF),
    limegreen: ($lime-green,#FFF),
    orange: ($orange,#FFF),
    dark-grey: ($dark-grey,#FFF),
    darkgrey: ($dark-grey,#FFF),
    white: ($white,#333),
    purple: ($purple,#FFF),
    red: ($red,#FFF),
    turquoise: ($turquoise,#FFF),
    citrus: ($citrus,#FFF),
    clean-green: ($clean-green,#FFF),
    cleangreen: ($clean-green,#FFF),
    deep-red: ($deep-red,#FFF),
    deepred: ($deep-red,#FFF),
    light-grey: ($light-grey,#FFF),
    lightgrey: ($light-grey,#333),
    purple-rain: ($purple-rain,#FFF),
    purplerain: ($purple-rain,#FFF),
    magenta: ($magenta#FFF),
);

$main-text-color: #6985B7;