$first-width: calc(80% - 4px);
$second-width: calc(20%);

.btn-lime-split {
    > .btn:first-child{
        box-sizing: border-box;
        width: $first-width;
    }

    > lime-button:first-child{
        box-sizing: border-box;
        width: $first-width;
        display: inline-block;
    }

    > .btn:nth-child(2){
        box-sizing: border-box;
        width: $second-width;
    }

    > lime-button:nth-child(2){
        box-sizing: border-box;
        width: $second-width;
        display: inline-block;
    }
}
