$first-width: calc(80% - 4px);
$second-width: calc(20%);

.btn-lime-split {
    display: block;
    margin: 5px 0px 5px 0px;

    > .btn:first-child{
        width: $first-width;
    }

    > lime-button:first-child{
        width: $first-width;
    }

    > .btn:nth-child(2){
        width: $second-width;
    }

    > lime-button:nth-child(2){
        width: $second-width;
    }

    > *:first-child,
    > *:nth-child(2) {
        box-sizing: border-box;
        display: inline-block;
    }

    > * > * {
        margin: 0 !important;
    }
}
